{% extends 'main/layout.html' %}
{% block title %} Страница новостей {% endblock %}

{% block content%}
<div class="features">
    <h1>{{ title }}</h1>
    <p>Вообще пиздец основной да. Вообще пиздец основной да. Вообще пиздец основной да. Вообще пиздец основной да. Вообще пиздец основной да. Вообще пиздец основной да. Вообще пиздец основной да. </p>
    <button class="btn btn-warning"> Yes </button>

    {% for val in news %}
        <div class ="alert alert-warning">
        <h3> {{ val.title }} </h3>
            <p> {{ val.anons }} </p>

        </div>
    {% endfor %}
</div>
{% endblock %}